{
  "presets": [["es2015", {"modules": false}], "stage-3"],
  "plugins": [
    "external-helpers",        
    "transform-async-functions",
    ["transform-runtime", {"polyfill": false, "regenerator": true}]
  ]
}
